header{
    position: fixed;
}
.header-content{

    color: white;
    background-color: #3c0855;
    display: flex;
    position: relative;
    min-width: 100%;

}
.heading{
    font-size: 45px;

}
.features {

    margin-left: 750px;
    margin-top: 25px;

    display: flex;

    font-size: 18px;
    justify-content: space-around;
    /*align-items: ;*/



}
.users{
    margin: 20px 25px 20px 25px;
    font-weight: bold;
}
.Admin{
    margin: 20px 25px 20px 25px;
    font-weight: bold;

}
.heading-button{
    margin: 15px 15px 50px 15px;
    font-weight: bold;
    font-size: 18px;
    color: white;
    background-color: #8D3DAF;
    /*padding-top: 5px;*/
    /*padding-bottom: 5px;*/
    padding-left:15px ;
    padding-right:15px ;
    border-radius: 5%;
    display: block;
    border-radius: 20px;
}
.heading-button:hover{
    background-color:deeppink ;
    color: white;
}
