.form-control-line{
margin-top: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;

}
.form-control-line-items {
    margin: 20px 50px 0px 0px   ;
}
label{
    font-size: 20px;
    font-weight: bold;
}
input{
    font-size: 20px;
}
.form{
    padding:20px 20px 50px 20px;

    margin: 50px 0px 50px 0px;


    border: maroon solid 2px;
    border-radius: 255px;

}
.login-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;


    border: maroon solid 2px;
    background-color: aliceblue;
    color: black;
    padding: 50px 20px 20px 20px ;
    border-radius: 355px;

}
.login-heading{
    font-size: 35px;
    text-transform: uppercase;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    /*border-radius: 355px;*/

}